<div class="container-fluid position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a routerLink="/" class="navbar-brand p-0">
      <h1 class="text-primary m-0">NatureLink</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link">
          Home
        </a>
        <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
        <a routerLink="/logementsFront" routerLinkActive="active" class="nav-item nav-link">Logement</a>
        <a routerLink="/services" routerLinkActive="active" class="nav-item nav-link">Services</a>
        <a routerLink="/packages" routerLinkActive="active" class="nav-item nav-link">Packages</a>
        <div class="nav-item dropdown">
        </div>
        <a routerLink="/contact" class="nav-item nav-link">Contact</a>
      </div>
      <a routerLink="/register" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-3">Register</a>
    </div>
  </nav>

  <!-- Hero Header Section -->
  <div *ngIf="currentRoute === '/'" class="container-fluid hero-header">
    <div class="container">
      <div class="hero-content">
        <h1 class="display-3 text-white mb-3 animated slideInDown">
          Enjoy Your Vacation With Us
        </h1>
        <p class="fs-4 text-white mb-4 animated slideInDown">
          Tempor erat elitr rebum at clita diam amet diam et eos erat ipsum lorem sit
        </p>
        <div class="search-container position-relative w-75 mx-auto animated slideInDown">
          <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Eg: Thailand">
          <button type="button" class="btn btn-primary rounded-pill py-2 px-4">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="currentRoute !== '/'" class="container-fluid hero-header">
    <div class="container">
      <div class="hero-content">
        <h1 class="display-3 text-white animated slideInDown">{{ pageTitle }}</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">{{ pageTitle }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>