<div class="container py-5 mt-5 pt-5">
  <h2 class="text-center mb-4">Update Reservation</h2>
  <form (ngSubmit)="updateReservation()" class="bg-white bg-opacity-75 p-4 rounded shadow-lg">
    <!-- Client Names -->
    <div class="form-group mb-3" *ngFor="let clientName of clientNames; let i = index; trackBy: trackByIndex">
      <label for="clientName{{i}}" class="form-label">Client Name {{i + 1}}:</label>
      <input 
        type="text" 
        id="clientName{{i}}" 
        [(ngModel)]="clientNames[i]" 
        name="clientName{{i}}" 
        class="form-control" 
        required 
        placeholder="Enter client name" />
      <button *ngIf="clientNames.length > 1" type="button" (click)="removeClientField(i)" class="btn btn-danger btn-sm mt-1">
        Remove
      </button>
    </div>

    <!-- Add more client input field -->
    <button type="button" (click)="addClientField()" class="btn btn-secondary mb-3">Add Client</button>

    <!-- Date Début -->
    <div class="form-group mb-3">
      <label for="dateDebut" class="form-label">Date Début:</label>
      <input 
        type="date" 
        id="dateDebut"
        class="form-control" 
        [(ngModel)]="dateDebut" 
        name="dateDebut"
        required
      />
    </div>

    <!-- Date Fin -->
    <div class="form-group mb-3">
      <label for="dateFin" class="form-label">Date Fin:</label>
      <input 
        type="date" 
        id="dateFin"
        class="form-control" 
        [(ngModel)]="dateFin" 
        name="dateFin"
        required
      />
    </div>

   

    <!-- Number of Rooms (only for logement) -->
    <div *ngIf="logementId" class="form-group mb-3">
      <label for="numRooms">Number of Rooms:</label>
      <input
        type="number"
        id="numRooms"
        [(ngModel)]="numRooms"
        name="numRooms"
        class="form-control"
        required
        min="1"
        placeholder="Enter the number of rooms"
      />
    </div>

    <!-- Submit Button -->
    <div class="form-group text-center">
      <button type="submit" class="btn btn-success" [disabled]="!username || !dateDebut || !dateFin || !selectedStatut">
        Update Reservation
      </button>
    </div>
  </form>

  <!-- Back Button -->
  <div class="form-group text-center mt-4">
    <button class="btn btn-secondary" (click)="goBackToList()">Back to Reservations List</button>
  </div>
</div>
