<button class="book-now" [routerLink]="['/admin/events/Add']" *ngIf="isAdminView">➕ Add Event </button>

<div class="event-management-container">

  
    <h2 class="title">Upcoming Events</h2>
    <p class="subtitle">Browse various ongoing events</p>
    <div class="search-container">
      <input type="search" [(ngModel)]="searchQuery" id="form1" placeholder="Search Events" />
    </div>
    <!-- Tabs Section -->
    <div class="event-tabs">
      <div
        *ngFor="let tab of tabs"
        (click)="selectedTab = tab"
        [class.active]="selectedTab.date === tab.date"
        class="tab">
        {{ tab.label }} <br /> <span></span>
      </div>
    </div>
  

                  

    <!-- Event Card -->
    <div *ngFor="let event of events | filterByTitle:searchQuery | filterByDate:selectedTab" class="event-card-wrapper">
      <div class="event-card">
        <img src="{{event.image}}" alt="Event Image" class="event-image" />
        
        <div class="event-content">
          <h3 class="event-title">{{ event.title }}</h3>
          <div class="event-meta">
            <p><i class="fa fa-user"></i> {{ event.founder }} </p>
            <p><i class="fa fa-clock"></i> {{event.date}}</p>
            <p><i class="fa fa-map-marker"></i> {{ event.location }}</p>
          </div>
    
          <div class="event-actions" *ngIf="isAdminView">
            <button class="event-btn update" [routerLink]="['/admin/events/update', event.id]">Update</button>
            <button class="event-btn delete" (click)="deleteEvent(event.id)">Delete</button>

          </div>
        </div>
      </div>
     
      
    </div>
    <button (click)="generatePDF()" class="btn btn-primary">
      Export Events as PDF
    </button>
    
    