
<div class="container">
<div class="boutique-info">
  <div class="top-left-button" *ngIf="isAdminView">
    <button class="book-now" [routerLink]="['/admin/boutiques/product-add', boutiqueDetails.id]">
      ➕ Add Product
    </button>
  </div>
  
    <h4 class="subtitle"> {{boutiqueDetails.nom}}</h4>
    <h2 class="title"><span>Latest</span>Products</h2>

    <div class="product-grid">
      <div class="product-card" *ngFor="let item of products">
        
        <div class="discount-badge">-{{ item.offre }}%</div>
        
        <img [src]="item.image" alt="Product Image" class="product-image" />
        <div class="cart-item"> 
            <ul>
                <li>
                    <i class="fas fa-shopping-cart"></i>
                  
                  <li> 
                    <i class="fas fa-heart"></i>
                  </li>
                  <li> 
                    <i class="fas fa-search"></i>
                  </li>
            </ul>
    </div>
        <h3 class="product-name">{{ item.id }}</h3>
        <p class="price">
          <span class="current">${{ item.cost }}</span>
        </p>
        <div class="offre" ><i class="fas fa-times"(click)="item.id ? deleteProduit(item.id) : null">
        </i></div>
      </div>
     
    </div>
  </div>
  
 
