<div class="unit-list">
  <h3 *ngIf="logementId; else allUnitsTitle">Units for Logement ID {{ logementId }}</h3>
  <ng-template #allUnitsTitle>
    <h3>All Units</h3>
  </ng-template>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Unit Type</th>
        <th>Price Per Night (TND)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unit of units; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ unit.unitType }}</td>
        <td>{{ unit.pricePerNight }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="units.length === 0">No units available.</p>
</div>
