
<div class="event-form-container">
    <h1>Add a Product</h1>
  
    <form [formGroup]= "BoutiqueForm" (ngSubmit)="onSubmit()" class="event-form">
      <input type="file" (change)="handleUpload($event)" accept="image/*">
      <img *ngIf="this.base64Image " [src]="this.base64Image " alt="Uploaded Image" />
  
      <div class="form-group">
        <label for="nom">shop Title</label>
        <input 
          type="text" 
          id="title" 
          formControlName="nom" 
          placeholder="Enter shop title">
        <div *ngIf="BoutiqueForm.get('nom')?.invalid && BoutiqueForm.get('nom')?.touched" 
             class="error-message">
          name is required
        </div>
      </div>
      <div class="form-group">
        <label for="cost">Product cost</label>
        <input 
          type="text" 
          id="cost" 
          formControlName="cost" 
          placeholder="Enter product cost">
        <div *ngIf="BoutiqueForm.get('cost')?.invalid && BoutiqueForm.get('cost')?.touched" 
             class="error-message">
          cost is required
        </div>
      </div>
      <div class="form-group">
        <label for="offre">Offre</label>
        <input 
          type="text" 
          id="offre" 
          formControlName="offre" 
          placeholder="Enter product offre">
        <div *ngIf="BoutiqueForm.get('offre')?.invalid && BoutiqueForm.get('offre')?.touched" 
             class="error-message">
          offre is required
        </div>
      </div>
       
      <button type="submit" class="submit-btn" [disabled]="BoutiqueForm.invalid">
        Submit
      </button>
    </form>
  </div>